.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-body {
    flex-direction: row;
    background-color: #252627;
    border-radius: 10px;
}

.card-container {
    display: flex;
    flex-direction: row;
}

.image-container {
    flex-shrink: 0;
}

.img-item {
    width: 100%;
    height: 600px;
    border-radius: 10px 0 0 10px;
}

.profile {
    padding: 30px;
    color: white;
    max-width: 100%;
    overflow: hidden;
}

.about-me p {
    text-align: justify;
    font-size: 18px;
}

.about-me h1 {
    margin-bottom: 10px;
}

.line-item {
    width: 100%;
    height: 8px;
    background-color: #1d1e20;
    border-radius: 3px;
    margin-bottom: 10px;
}

.about-me:hover .line-item,
.my-skills:hover .line-item,
.contact:hover .line-item {
    background-color: #da202f;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.my-skills {
    width: 100%;
    margin: 40px 0 30px 0;
}

.my-skills h3 {
    color: white;
    margin-bottom: 10px;
}

.overflow-auto {
    overflow-x: auto;
    scrollbar-color: #1d1e20 #1d1e20;
    padding-bottom: 10px;
}

.skills-list,  .social-icons{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
}

.skill-item {
    margin: 10px 25px 10px 0;
    text-align: center;
    color: white;
    flex-shrink: 0;
    max-width: 120px;
}

.skill-item:hover,  .social-item:hover{
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

.skill-item p {
    margin-top: 10px;
    text-align: center;
}

.overflow-auto::-webkit-scrollbar {
    height: 8px;
}

.overflow-auto::-webkit-scrollbar-thumb {
    background-color: #da202f;
    border-radius: 10px;
}

.overflow-auto::-webkit-scrollbar-track {
    background-color: #1d1e20;
}

.contact {
    width: 100%;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-item {
    margin: 10px 25px 10px 0;
}
